## **Exercise: Collaborative Filtering**

**Dengan menggunakan dataset rating.csv dan anime.csv, buatlah recommendation system dengan skema berikut:**

* Gabungkan kedua dataset (rating.csv dan anime.csv) untuk menampilkan kolom ['user_id', 'anime_id', 'rating', 'name']
* Bandingkan algoritma SVD dan ALS
* Tuning algoritma yang menurut kalian lebih baik

Setelah mendapatkan model terbaik, coba prediksi rating anime berikut:

* Hunter x Hunter (2011), anime_id 11061
* Detective Conan OVA 09, anime_id 6438
* Ranma ½, anime_id 1010
* Saint Seiya: Meiou Hades Juuni Kyuu-hen, anime_id 1257 

Oleh user:

* 50
* 200
* 400
* 800

Bagaimana urutan rekomendasi yang akan kalian berikan untuk masing-masing user?

## **Import libraries**

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

# Dataset formatting
from surprise import Reader
from surprise import Dataset

from surprise import SVD            # SVD
from surprise import BaselineOnly   # ALS

from surprise import accuracy
from surprise.model_selection import cross_validate, train_test_split
from surprise.model_selection import GridSearchCV, RandomizedSearchCV

import warnings 
warnings.filterwarnings('ignore')

## **Load dataset & preprocessing**

In [2]:
df_rating = pd.read_csv('rating.csv')
df_rating

       Unnamed: 0  user_id  anime_id  rating
0              47        1      8074    10.0
1              81        1     11617    10.0
2              83        1     11757    10.0
3             101        1     15451    10.0
4             153        2     11771    10.0
...           ...      ...       ...     ...
77863       96433      999     11757     6.0
77864       96434      999     16498     9.0
77865       96435      999     21881     5.0
77866       96436      999     22319     8.0
77867       96437      999     27899     7.0

[77868 rows x 4 columns]

In [3]:
np.array(df_rating).shape

(77868, 4)

In [4]:
np.array(df_rating).reshape(-1,1)[0:8]

array([[4.7000e+01],
       [1.0000e+00],
       [8.0740e+03],
       [1.0000e+01],
       [8.1000e+01],
       [1.0000e+00],
       [1.1617e+04],
       [1.0000e+01]])

In [5]:
np.array(df_rating).reshape(-1,1).shape

(311472, 1)

In [6]:
# Drop kolom yang tidak berguna
df_rating = df_rating.drop(columns='Unnamed: 0', axis=1)
df_rating.head(10)

   user_id  anime_id  rating
0        1      8074    10.0
1        1     11617    10.0
2        1     11757    10.0
3        1     15451    10.0
4        2     11771    10.0
5        3        20     8.0
6        3       154     6.0
7        3       170     9.0
8        3       199    10.0
9        3       225     9.0

In [7]:
df_anime = pd.read_csv('anime.csv')[['anime_id', 'name']]
df_anime.head()

   anime_id                              name
0     32281                    Kimi no Na wa.
1      5114  Fullmetal Alchemist: Brotherhood
2     28977                          Gintama°
3      9253                       Steins;Gate
4      9969                     Gintama&#039;

In [8]:
# Menggabungkan df_rating dan df_anime --> Left join pada kolom anime_id
df_merged = pd.merge(df_rating, df_anime, how='left', on=['anime_id'])
df_merged

       user_id  anime_id  rating                    name
0            1      8074    10.0  Highschool of the Dead
1            1     11617    10.0         High School DxD
2            1     11757    10.0        Sword Art Online
3            1     15451    10.0     High School DxD New
4            2     11771    10.0        Kuroko no Basket
...        ...       ...     ...                     ...
77863      999     11757     6.0        Sword Art Online
77864      999     16498     9.0      Shingeki no Kyojin
77865      999     21881     5.0     Sword Art Online II
77866      999     22319     8.0             Tokyo Ghoul
77867      999     27899     7.0          Tokyo Ghoul √A

[77868 rows x 4 columns]

In [9]:
# df_merged[df_merged['name'].str.contains("Hunter")]

In [10]:
df_merged.describe()

# rating dari 1-10

            user_id      anime_id        rating
count  77868.000000  77868.000000  77868.000000
mean     517.812786  10721.879116      7.855268
std      278.020509   9033.079184      1.538070
min        1.000000      1.000000      1.000000
25%      288.000000   2273.000000      7.000000
50%      529.000000   9513.000000      8.000000
75%      753.000000  16592.000000      9.000000
max      999.000000  34240.000000     10.000000

In [11]:
# Pivot table menjadi sparse matrix
user_item_rating_matrix = df_merged.pivot_table(values='rating', index ='user_id', columns ='anime_id')
user_item_rating_matrix

anime_id,1,5,6,7,8,15,16,17,18,19,...,33338,33341,33372,33421,33524,33558,33569,33964,34103,34240
user_id,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,8.0,NaN,NaN,6.0,NaN,6.0,6.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

* Hunter x Hunter (2011), anime_id 11061
* Detective Conan OVA 09, anime_id 6438
* Ranma ½, anime_id 1010
* Saint Seiya: Meiou Hades Juuni Kyuu-hen, anime_id 1257

In [12]:
user_item_rating_matrix.loc[[50,200,400,800], [11061,6438,1010,1257]]

anime_id  11061  6438   1010   1257
user_id
50         10.0    NaN    NaN    NaN
200         NaN    NaN    NaN    NaN
400         9.0    NaN    NaN    NaN
800         NaN    NaN    NaN    NaN

User-Item matrix with rating terdiri dari 940 user dan 4510 anime

## **Modeling**

In [13]:
reader = Reader(rating_scale=(1, 10))

data = Dataset.load_from_df(df_merged[['user_id', 'anime_id', 'rating']], reader)
data

## **Validation**

In [14]:
trainset, testset = train_test_split(data, test_size=0.2, random_state=1)

### **SVD**

In [15]:
algo_svd = SVD(random_state=10)

algo_svd.fit(trainset)
prediction_svd = algo_svd.test(testset)

In [16]:
accuracy.rmse(prediction_svd)

RMSE: 1.1983

1.198316370967339

### **ALS**

In [17]:
bsl_options = {'method': 'als',
               'n_epochs': 5,
               'reg_u': 12,
               'reg_i': 5
               }

algo_als = BaselineOnly(bsl_options=bsl_options)

algo_als.fit(trainset)
prediction_als = algo_als.test(testset)

Estimating biases using als...

In [18]:
accuracy.rmse(prediction_als)

RMSE: 1.2059

1.2059336760803911

SVD memiliki error lebih kecil, maka akan dilakukan hyperparameter tuning terhadap model SVD

## **Cross Validation**

### **SVD**

In [19]:
cv_svd = cross_validate(algo_svd, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    1.2138  1.1926  1.2072  1.2071  1.2068  1.2055  0.0070
MAE (testset)     0.9207  0.9032  0.9180  0.9153  0.9159  0.9146  0.0060
Fit time          1.15    1.18    1.20    1.19    1.23    1.19    0.03
Test time         0.35    0.16    0.15    0.35    0.17    0.24    0.09

In [20]:
print('RMSE cv mean', cv_svd['test_rmse'].mean())

RMSE cv mean 1.2055110729488554

### **ALS**

In [21]:
cv_als = cross_validate(algo_als, data, measures=['RMSE','MAE'], cv=5, verbose=True)

Estimating biases using als...
Estimating biases using als...
Estimating biases using als...
Estimating biases using als...
Estimating biases using als...
Evaluating RMSE, MAE of algorithm BaselineOnly on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    1.2053  1.2122  1.1899  1.2160  1.2060  1.2059  0.0089
MAE (testset)     0.9247  0.9261  0.9048  0.9198  0.9190  0.9189  0.0075
Fit time          0.15    0.17    0.21    0.25    0.24    0.21    0.04
Test time         0.10    0.12    0.12    0.17    0.15    0.13    0.03

In [22]:
print('RMSE cv mean', cv_als['test_rmse'].mean())

RMSE cv mean 1.2058868794617623

## **Hyperparameter tuning**

**SVD Grid Search**

In [23]:
# Tuning SVD
hyperparam_space = {
    'n_epochs':[5, 10, 20, 30],     # jumlah iterasi
    'lr_all':[0.002, 0.005],        # learning rate
    'reg_all':[0.02, 0.4, 0.6]      # regularization
}

grid_search = GridSearchCV(SVD, hyperparam_space, measures=['rmse', 'mae'], cv=5)

grid_search.fit(data)

In [24]:
print('RMSE')
print(grid_search.best_score['rmse'])
print(grid_search.best_params['rmse'])

print('\nMAE')
print(grid_search.best_score['mae'])
print(grid_search.best_params['mae'])

RMSE
1.2065589891297477
{'n_epochs': 20, 'lr_all': 0.005, 'reg_all': 0.02}

MAE
0.914304946805942
{'n_epochs': 20, 'lr_all': 0.005, 'reg_all': 0.02}

**SVD Randimized Search**

In [25]:
# Tuning SVD
hyperparam_space = {
    'n_epochs':np.arange(1,50,1),                   # jumlah iterasi
    'lr_all':np.arange(0.001, 0.010, 0.001),        # learning rate
    'reg_all':np.arange(0.1, 1, 0.1)                # regularization
}

randomsearch = RandomizedSearchCV(SVD, hyperparam_space, measures=['rmse', 'mae'], cv=5)

randomsearch.fit(data)

In [26]:
print('RMSE')
print(randomsearch.best_score['rmse'])
print(randomsearch.best_params['rmse'])

print('\nMAE')
print(randomsearch.best_score['mae'])
print(randomsearch.best_params['mae'])

RMSE
1.2338995815733067
{'n_epochs': 32, 'lr_all': 0.007, 'reg_all': 0.4}

MAE
0.94409596708951
{'n_epochs': 32, 'lr_all': 0.001, 'reg_all': 0.1}

In [27]:
# Contoh tuning metode ALS
# param_grid = {'bsl_options': {'method': ['als'],
#                               'n_epochs': [5,10,15], 
#                               'reg_u': [12, 18, 27], 
#                               'reg_i': [5,50,100]}
#               }

# gs = GridSearchCV(BaselineOnly, param_grid, measures=['rmse', 'mae'], cv=3)

# gs.fit(data)

## **Model with Hyperparameter Tuning**

In [28]:
svd_tuned = SVD(n_epochs = 20, lr_all = 0.005, reg_all = 0.02)
cv_svd_tuned = cross_validate(svd_tuned, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    1.2054  1.2191  1.1821  1.2047  1.2171  1.2057  0.0132
MAE (testset)     0.9132  0.9265  0.8983  0.9071  0.9210  0.9132  0.0100
Fit time          1.03    1.12    1.07    1.24    1.12    1.12    0.07
Test time         0.25    0.17    0.18    0.16    0.39    0.23    0.09

In [29]:
# Perbandingan RMSE sebelum dan sesudah tuning
print('RMSE cv mean before tuning:', cv_svd['test_rmse'].mean())
print('RMSE cv mean after tuning:', cv_svd_tuned['test_rmse'].mean())

RMSE cv mean before tuning: 1.2055110729488554
RMSE cv mean after tuning: 1.2056876245924695

## **Prediction results**

* Hunter x Hunter (2011), anime_id 11061
* Detective Conan OVA 09, anime_id 6438
* Ranma ½, anime_id 1010
* Saint Seiya: Meiou Hades Juuni Kyuu-hen, anime_id 1257

In [30]:
users = [50, 200, 400, 800]
anime_ids = [11061, 6438, 1010, 1257]
titles = ['Hunter x Hunter (2011)', 'Detective Conan OVA 09', 'Ranma ½', 'Saint Seiya: Meiou Hades Juuni Kyuu-hen']

# Dataframe kosong
df_test = pd.DataFrame(columns=['user_id', 'anime_id', 'title'], dtype='object')
df_test

# Mengisi dataframe dengan user_id dan anime_id beserta titlenya
for i in users:
    for j, k in zip(anime_ids, titles):
        df_test = df_test.append({'user_id':i, 'anime_id':j, 'title':k}, ignore_index=True)
        
df_test

   user_id anime_id                                    title
0       50    11061                   Hunter x Hunter (2011)
1       50     6438                   Detective Conan OVA 09
2       50     1010                                  Ranma ½
3       50     1257  Saint Seiya: Meiou Hades Juuni Kyuu-hen
4      200    11061                   Hunter x Hunter (2011)
5      200     6438                   Detective Conan OVA 09
6      200     1010                                  Ranma ½
7      200     1257  Saint Seiya: Meiou Hades Juuni Kyuu-hen
8      400    11061                   Hunter x Hunter (2011)
9      400     6438                   Detective Conan OVA 09
10     400     1010                                  Ranma ½
11     400     1257  Saint Seiya: Meiou Hades Juuni Kyuu-hen
12     800    11061                   Hunter x Hunter (2011)
13     800     6438                   Detective Conan OVA 09
14     800     1010                                  Ranma ½
15     800     1257  Saint Seiya: Meiou Hades Juuni Kyuu-hen

In [31]:
df_test.iloc[:, :-1]

   user_id anime_id
0       50    11061
1       50     6438
2       50     1010
3       50     1257
4      200    11061
5      200     6438
6      200     1010
7      200     1257
8      400    11061
9      400     6438
10     400     1010
11     400     1257
12     800    11061
13     800     6438
14     800     1010
15     800     1257

In [32]:
df_merged.iloc[:, [1,3]]

       anime_id                    name
0          8074  Highschool of the Dead
1         11617         High School DxD
2         11757        Sword Art Online
3         15451     High School DxD New
4         11771        Kuroko no Basket
...         ...                     ...
77863     11757        Sword Art Online
77864     16498      Shingeki no Kyojin
77865     21881     Sword Art Online II
77866     22319             Tokyo Ghoul
77867     27899          Tokyo Ghoul √A

[77868 rows x 2 columns]

In [33]:
df_hasil = pd.merge(df_test.iloc[:, :-1], df_merged.iloc[:, [1,3]], how='inner', on='anime_id')
df_hasil = df_hasil.drop_duplicates(ignore_index=True).sort_values('user_id')
df_hasil

   user_id anime_id                                               name
0       50    11061                             Hunter x Hunter (2011)
4       50     6438  Detective Conan OVA 09: The Stranger in 10 Yea...
8       50     1010  Ranma ½: Chou Musabetsu Kessen! Ranma Team vs....
12      50     1257            Saint Seiya: Meiou Hades Juuni Kyuu-hen
1      200    11061                             Hunter x Hunter (2011)
5      200     6438  Detective Conan OVA 09: The Stranger in 10 Yea...
9      200     1010  Ranma ½: Chou Musabetsu Kessen! Ranma Team vs....
13     200     1257            Saint Seiya: Meiou Hades Juuni Kyuu-hen
2      400    11061                             Hunter x Hunter (2011)
6      400     6438  Detective Conan OVA 09: The Stranger in 10 Yea...
10     400     1010  Ranma ½: Chou Musabetsu Kessen! Ranma Team vs....
14     400     1257            Saint Seiya: Meiou Hades Juuni Kyuu-hen
3      800    11061                             Hunter x Hunter (2011)
7      800     6438  Detective Conan OVA 09: The Stranger in 10 Yea...
11     800     1010  Ranma ½: Chou Musabetsu Kessen! Ranma Team vs....
15     800     1257            Saint Seiya: Meiou Hades Juuni Kyuu-hen

In [34]:
# define model
svd_predict = SVD(n_epochs=20, lr_all=0.005, reg_all=0.02)

# fitting
svd_predict.fit(trainset)

# untuk menyimpan predicted score
y = []

# Melakukan prediksi pada tiap baris
for index, row in df_test.iterrows():
    est = svd_predict.predict(row['user_id'], row['anime_id'])
    y.append(est[3])
    
df_test['predicted_rating'] = y

df_test.sort_values(by=['user_id', 'predicted_rating'], ascending=[True, False], inplace=True)
df_test

   user_id anime_id                                    title  predicted_rating
0       50    11061                   Hunter x Hunter (2011)          9.982468
3       50     1257  Saint Seiya: Meiou Hades Juuni Kyuu-hen          7.979478
1       50     6438                   Detective Conan OVA 09          7.770977
2       50     1010                                  Ranma ½          7.551340
4      200    11061                   Hunter x Hunter (2011)         10.000000
7      200     1257  Saint Seiya: Meiou Hades Juuni Kyuu-hen          8.958208
5      200     6438                   Detective Conan OVA 09          8.875329
6      200     1010                                  Ranma ½          8.727887
8      400    11061                   Hunter x Hunter (2011)          8.462316
11     400     1257  Saint Seiya: Meiou Hades Juuni Kyuu-hen          6.533136
10     400     1010                                  Ranma ½          6.298927
9      400     6438                   Detective Conan OVA 09          5.774180
12     800    11061                   Hunter x Hunter (2011)          9.619072
15     800     1257  Saint Seiya: Meiou Hades Juuni Kyuu-hen          8.366480
13     800     6438                   Detective Conan OVA 09          8.185510
14     800     1010                                  Ranma ½          8.035339

In [35]:
est

Prediction(uid=800, iid=1257, r_ui=None, est=8.3664800364734, details={'was_impossible': False})

In [36]:
df_test[df_test['user_id'] == 50]

  user_id anime_id                                    title  predicted_rating
0      50    11061                   Hunter x Hunter (2011)          9.982468
3      50     1257  Saint Seiya: Meiou Hades Juuni Kyuu-hen          7.979478
1      50     6438                   Detective Conan OVA 09          7.770977
2      50     1010                                  Ranma ½          7.551340

In [37]:
df_test[df_test['user_id'] == 200]

  user_id anime_id                                    title  predicted_rating
4     200    11061                   Hunter x Hunter (2011)         10.000000
7     200     1257  Saint Seiya: Meiou Hades Juuni Kyuu-hen          8.958208
5     200     6438                   Detective Conan OVA 09          8.875329
6     200     1010                                  Ranma ½          8.727887

In [38]:
df_test[df_test['user_id'] == 400]

   user_id anime_id                                    title  predicted_rating
8      400    11061                   Hunter x Hunter (2011)          8.462316
11     400     1257  Saint Seiya: Meiou Hades Juuni Kyuu-hen          6.533136
10     400     1010                                  Ranma ½          6.298927
9      400     6438                   Detective Conan OVA 09          5.774180

In [39]:
df_test[df_test['user_id'] == 800]

   user_id anime_id                                    title  predicted_rating
12     800    11061                   Hunter x Hunter (2011)          9.619072
15     800     1257  Saint Seiya: Meiou Hades Juuni Kyuu-hen          8.366480
13     800     6438                   Detective Conan OVA 09          8.185510
14     800     1010                                  Ranma ½          8.035339

In [40]:
df_merged

       user_id  anime_id  rating                    name
0            1      8074    10.0  Highschool of the Dead
1            1     11617    10.0         High School DxD
2            1     11757    10.0        Sword Art Online
3            1     15451    10.0     High School DxD New
4            2     11771    10.0        Kuroko no Basket
...        ...       ...     ...                     ...
77863      999     11757     6.0        Sword Art Online
77864      999     16498     9.0      Shingeki no Kyojin
77865      999     21881     5.0     Sword Art Online II
77866      999     22319     8.0             Tokyo Ghoul
77867      999     27899     7.0          Tokyo Ghoul √A

[77868 rows x 4 columns]

In [48]:
df_merged[df_merged['name']=='Hunter x Hunter (2011)']

       user_id  anime_id  rating                    name
682          7     11061     9.0  Hunter x Hunter (2011)
2578        38     11061    10.0  Hunter x Hunter (2011)
2863        41     11061    10.0  Hunter x Hunter (2011)
3856        50     11061    10.0  Hunter x Hunter (2011)
4518        71     11061    10.0  Hunter x Hunter (2011)
...        ...       ...     ...                     ...
74985      958     11061    10.0  Hunter x Hunter (2011)
76182      977     11061    10.0  Hunter x Hunter (2011)
76646      984     11061     8.0  Hunter x Hunter (2011)
76902      991     11061    10.0  Hunter x Hunter (2011)
77405      995     11061     9.0  Hunter x Hunter (2011)

[113 rows x 4 columns]

In [54]:
df_merged[df_merged['name']=='Hunter x Hunter (2011)']['rating'].mean()

9.398230088495575

In [53]:
df_merged[df_merged['name']=='Ranma ½']['rating'].mean()

7.947368421052632

## **Coba lihat rekomendasi anime untuk seorang user**

In [41]:
df_merged[df_merged['user_id']==1]

   user_id  anime_id  rating                    name
0        1      8074    10.0  Highschool of the Dead
1        1     11617    10.0         High School DxD
2        1     11757    10.0        Sword Art Online
3        1     15451    10.0     High School DxD New

In [42]:
df_merged['anime_id'].nunique()

4510

In [43]:
# cek score untuk masing-masing anime berdasarkan user
user_id = 1

# anime_id dan name yg tidak ada duplikat (unique)
anime = list(df_merged['anime_id'].unique())
name = list(df_merged['name'].unique())

In [44]:
svd_predict = SVD(n_epochs=20, lr_all=0.005, reg_all=0.02)
svd_predict.fit(trainset)

# prediksi score untuk seluruh anime berdasarkan user1
anime_score = [svd_predict.predict(user_id, anime_id).est for anime_id in anime]
anime_score

[9.429491013964357,
 9.154365292148643,
 9.87092194636782,
 9.210142875472952,
 9.254350656237678,
 8.674672149842834,
 8.64628911282941,
 9.560832006967539,
 9.82723986542903,
 7.813435759287004,
 8.381201716680007,
 8.729404826889722,
 8.136844806774922,
 8.75411585921585,
 9.81456201329848,
 8.033659837538055,
 7.88420243770729,
 7.995746873743311,
 7.659282992903695,
 8.352862143404012,
 8.036751080942379,
 8.281356054747295,
 9.26281703172028,
 7.894701420997249,
 9.164970172593886,
 8.407303436232473,
 9.019440905956216,
 7.951066938367645,
 7.919412189532413,
 8.361144011576167,
 9.015065969485319,
 8.263574978222385,
 9.558107929175002,
 8.248172717181726,
 8.293911867445276,
 9.322526730877359,
 8.522580295912151,
 8.120519952097071,
 7.754707572225768,
 8.790380012648399,
 8.519167571270163,
 7.783698310467907,
 8.793909377803317,
 9.408132945219768,
 8.802492027668812,
 8.061249943526473,
 9.139529761105704,
 7.668881901881514,
 8.647061111270052,
 8.635170370930073,
 7.700689850699567,
 9.362841937680674,
 7.802036049302935,
 8.650734905922297,
 8.772431487066298,
 9.456045776495987,
 8.012568060766204,
 9.423343664334482,
 9.51302691104543,
 9.02342203267685,
 9.07342661035812,
 8.041141123446991,
 9.414066882406566,
 7.936900097770959,
 5.977124037771919,
 9.522464631354923,
 8.16597488116695,
 9.037754707980525,
 9.043873776478154,
 9.489673132510163,
 7.381856134241269,
 7.533783555684387,
 8.950504907007087,
 9.453600944807757,
 9.281043066276336,
 7.3750262630459495,
 8.978485725633792,
 8.340876043410631,
 8.376765440642776,
 7.679930132086086,
 9.429482502044825,
 9.507874872357577,
 8.626316001435606,
 8.398496901376067,
 9.132095548599699,
 8.857656493627282,
 9.580670214066663,
 9.167034892846194,
 8.783789360383034,
 9.550033751526536,
 9.663604099310025,
 8.449803017351693,
 9.715395535153503,
 9.011692563355782,
 8.989346986030363,
 8.863632299291265,
 8.586267408386243,
 8.710402490697176,
 8.678878605245538,
 9.086142878827019,
 8.904818749357345,
 9.12594121189214,
 8.78783103362291,
 9.566978697668006,
 7.611696077617695,
 7.953608562017356,
 8.381620969117396,
 8.704106561869548,
 9.176168118394884,
 8.969294122385305,
 8.85607906229443,
 8.769804757743056,
 8.865366704192915,
 8.275599626464299,
 8.519747636345762,
 7.719725450298991,
 8.866500036588555,
 8.778439596839776,
 7.978914225302717,
 8.273564495200073,
 8.22083330599694,
 9.18680253154554,
 9.234547465374396,
 8.55949119922729,
 8.52840603811546,
 7.250308272565699,
 9.53411331873595,
 8.046997122850783,
 8.821640472011504,
 8.79595307044372,
 9.660715500806763,
 8.814830542156006,
 9.042777267801524,
 8.771184091870033,
 9.35549825241439,
 7.947537714222814,
 7.885672546409641,
 8.05308434605109,
 8.47305068672369,
 8.52393606507962,
 8.482030250228712,
 8.399749991849925,
 8.639405390588127,
 9.283024271724022,
 8.321625824373665,
 7.771290910414512,
 8.442075084592034,
 8.16723099140142,
 8.39041447447478,
 8.044416706421933,
 7.950588155538696,
 8.281160855973615,
 8.691376795100686,
 8.991900854787621,
 8.685815059668638,
 8.262250855046673,
 8.41393714052848,
 8.326444955333919,
 8.022850389623253,
 9.166601129927633,
 9.133247303579004,
 8.81581025802947,
 7.762529673383015,
 8.4010687474461,
 8.262571225011143,
 8.835563477551974,
 8.490015662023703,
 9.587048332089005,
 7.482468359113218,
 8.629962488680246,
 7.665639415914805,
 8.712395827072438,
 8.318248077232752,
 8.381265258263374,
 8.756577789046016,
 8.854568393508899,
 8.569237580631512,
 8.611587750485524,
 8.143121486814703,
 9.135668583287764,
 8.25928231829831,
 8.231768081910179,
 7.859750336388728,
 8.219523521595574,
 8.356837157287812,
 8.7277993373539,
 8.69687098604988,
 8.315431061624576,
 9.18462475475648,
 8.845226439837818,
 8.221595246894426,
 7.992384936648227,
 8.999998490973653,
 9.209868468447356,
 7.991608846570757,
 8.388934913244961,
 8.585258535761493,
 8.614783531056304,
 8.099117483161912,
 8.231076532802035,
 8.987578937940762,
 8.385668771375387,
 8.21621509724972,
 8.141023197632158,
 8.493936312624706,
 8.410415673199626,
 8.120120009316972,
 8.47687562386378,
 8.452414192115803,
 8.70622940557764,
 8.186282088082153,
 8.222383027594757,
 8.540025909536551,
 8.392287488911382,
 6.779670516034435,
 8.771543853929268,
 8.153491607522401,
 8.87765637380177,
 8.566416628472247,
 8.602126369966257,
 8.526555305113527,
 8.308601594938176,
 8.298429841289096,
 8.633080292479525,
 8.443374139731285,
 9.341646489170516,
 7.981837653835056,
 8.332176630864888,
 8.119988444381113,
 8.56212926977699,
 8.279830598871843,
 7.813565239534544,
 7.853133916924349,
 7.498055109422589,
 9.072436377443594,
 8.73604408618072,
 8.697981429844827,
 9.502263154780389,
 8.914681484043687,
 8.192770782176979,
 8.357702506710355,
 8.3603995790743,
 8.57586924580851,
 9.0394835771564,
 8.718890061507336,
 8.177320400923476,
 7.58547630229162,
 9.101379071897394,
 7.675942450993588,
 7.963289554852767,
 8.48376750145115,
 8.245413779086643,
 8.410496083246214,
 8.255821117803647,
 9.251486120103436,
 8.474972869082231,
 8.722965580200123,
 8.066294728288003,
 8.420289673519509,
 8.994144750189626,
 7.953291807580029,
 8.147556926876932,
 7.737582890629259,
 8.260016576149503,
 8.510674616833551,
 8.139036443921812,
 9.176599484035563,
 8.586818123620063,
 8.342135836360669,
 8.545283533405009,
 8.924338369882141,
 8.140639310006618,
 8.757122052338802,
 7.924668284742355,
 8.06743545558288,
 9.168930207025653,
 8.444048793893403,
 8.012523423825204,
 8.19510297537886,
 9.142184442785872,
 9.14568219173621,
 8.192358995140868,
 8.762875056901997,
 8.567237741589123,
 8.67472634763196,
 8.9837909416866,
 8.443466645807984,
 8.553997415734202,
 8.28843279038709,
 9.914439087247507,
 8.26582828713176,
 8.6232811496854,
 8.61742538363118,
 9.043635180702198,
 7.816621786908467,
 8.173756506304018,
 7.3740893250370085,
 9.976158790356166,
 8.258447522531972,
 8.80386627390116,
 9.482819509330557,
 9.101582904046387,
 8.002011152905029,
 8.96691233728922,
 8.375855757954927,
 9.091325272197524,
 8.272980774999752,
 7.8720782412537105,
 8.241631806407689,
 8.388067470401078,
 8.393701752207047,
 8.415030422285488,
 9.085043712630556,
 7.71676444292311,
 8.592322496102259,
 8.88985673786689,
 8.507380692366734,
 8.33477010467806,
 9.47352221274706,
 7.974406849948673,
 8.872952867219736,
 8.633998665401071,
 8.511450467203835,
 8.914949055053965,
 8.761727005269572,
 8.289764915967377,
 8.526250255056697,
 9.68238321994293,
 8.431449355654596,
 8.41285287346649,
 8.222093959727053,
 8.420741186982735,
 9.11797024068453,
 8.183185339688253,
 8.903868738108846,
 8.717061990946748,
 8.598996728373821,
 8.992083650550471,
 8.608056292904909,
 8.54499379791057,
 8.213413314454748,
 7.866878942685428,
 8.488312512340546,
 8.63730395252226,
 8.336181191303872,
 8.264884043354696,
 8.05040968477232,
 8.19805511628089,
 8.459415530359369,
 8.260751577457974,
 7.8965582675357355,
 8.837102228878713,
 8.623177238537002,
 8.704777786426575,
 8.501354895424598,
 9.11857057705147,
 9.30303222190151,
 8.930024209010533,
 8.193059016169174,
 8.156831988742669,
 7.393526491420966,
 8.871436618275858,
 9.147729665826727,
 8.566752672240343,
 8.337662308436705,
 8.527379639423135,
 8.38907675239842,
 9.26880358286056,
 9.007073404854106,
 8.28679100701013,
 8.586700886635482,
 9.12350385629104,
 9.363365234469638,
 8.505269373759937,
 8.564530691997364,
 8.77012853721234,
 9.620506865330265,
 8.716573859610456,
 9.590774036203012,
 8.373676002191024,
 6.735789968485957,
 8.836575344001776,
 8.34126645906614,
 8.531562885945656,
 8.279130116077887,
 8.754200055079986,
 9.017891976798897,
 8.703695450178689,
 9.278941979420111,
 8.29927294250856,
 8.61467016103646,
 8.249621921888483,
 8.47199396432362,
 8.173871471832546,
 7.739348121812727,
 8.204245403502904,
 9.56639304303258,
 7.915080756933925,
 8.344893676928637,
 8.16614858973205,
 8.166315381191245,
 8.136161625753761,
 8.404587564704247,
 8.717710098743547,
 8.419637000103096,
 7.790807897161725,
 8.136040546062326,
 8.421515372926168,
 8.671933673739291,
 8.09061337269603,
 7.930872015061934,
 7.939133237111363,
 8.506557734969176,
 8.983502817360238,
 9.00810531593295,
 8.454969869866023,
 7.70188292179362,
 8.234378083614574,
 8.05329386948555,
 8.555056909185263,
 8.522229563169683,
 8.550209914505434,
 8.111448919995375,
 9.058283091011068,
 8.685821455173114,
 8.036699930698411,
 9.261597526914692,
 8.2275037229398,
 8.489642675929908,
 8.549827789789765,
 9.186117972528985,
 8.539353858287246,
 8.623226662270904,
 9.30046062073754,
 6.755912703231421,
 8.294234738775533,
 8.265145220220768,
 8.844508436699947,
 8.281542983194345,
 8.132689507204013,
 8.205322988405454,
 8.511526364167914,
 8.40550031111658,
 8.142492049123561,
 8.519372873740368,
 8.102868292364228,
 8.349729395413652,
 8.235191261466202,
 9.046409754476759,
 8.154788756581254,
 8.383580602405612,
 8.23592399776559,
 8.925320804464588,
 8.222049037044311,
 8.411282918470395,
 8.451086903604489,
 8.61488540982501,
 8.059090948002714,
 8.30284434313359,
 8.446110082952298,
 8.314923297763814,
 8.617610879513908,
 8.70315054381822,
 7.912036220708769,
 8.419284639136261,
 7.955672202990619,
 8.53237663861479,
 8.819837856718356,
 8.41393714052848,
 8.51629660592106,
 8.75344450052451,
 9.206329880616149,
 9.24905400398709,
 7.407669362431483,
 8.900125532950362,
 7.739481014633333,
 8.640845775554196,
 9.428350096708511,
 8.668199154498868,
 8.807861036741233,
 7.1480078357042,
 8.475522253888762,
 9.611260750310253,
 8.118161802992095,
 8.41393714052848,
 8.073619139139783,
 8.425404322948749,
 8.688696688785033,
 7.9994009268775645,
 8.325655632467846,
 7.790100196786416,
 8.43988605699823,
 8.776279431538155,
 7.780516572182429,
 7.73080335348112,
 8.579653542369865,
 9.32522603681456,
 8.410006564103238,
 8.487424151594375,
 9.027133112638968,
 8.853069106188705,
 7.833211422210307,
 8.681493867412104,
 8.093685748985955,
 8.2120547540917,
 8.0433939357294,
 8.143162792709399,
 8.510255218499308,
 8.917165243359953,
 8.403524130364392,
 8.98945894479194,
 8.250167465680535,
 9.467718463679839,
 8.310735160102467,
 8.13023620037154,
 9.35777849539158,
 8.18429903304208,
 8.41054441339749,
 8.417042611745437,
 8.278085412522534,
 8.806067653096353,
 8.449070892808043,
 8.720034346845432,
 8.553791947496975,
 7.764861107057888,
 8.557491112123358,
 8.704485043206653,
 8.650193206574894,
 8.912688530180354,
 8.823926315388757,
 8.474666404858047,
 8.700946088432698,
 8.293472151356063,
 8.931238644333636,
 8.368135571444508,
 8.728811789409887,
 8.006403237956691,
 8.708887142024018,
 9.507294578316607,
 8.309301325093692,
 9.244881072753504,
 8.485394850740615,
 8.251095515007492,
 7.862861016407037,
 9.071764985208906,
 8.489038580431385,
 8.558233526968115,
 8.901510644247564,
 8.330321737756842,
 9.681529820838907,
 8.749721759695756,
 8.238754980997895,
 8.56243426750762,
 9.022163464128031,
 8.679801441897283,
 8.335625018164443,
 8.63926679951026,
 9.672490527142756,
 8.708931058569165,
 7.989818800449497,
 8.517513158243403,
 8.307063646617141,
 8.302438568686805,
 7.775272595031329,
 8.13842962467626,
 8.62690201603186,
 8.392037403029269,
 8.963802359872783,
 8.776461175958952,
 7.611593457020064,
 7.878519325680735,
 8.41568833716662,
 8.113508683583104,
 8.11757985943546,
 8.198964902648463,
 8.131593684691296,
 8.333326018705266,
 8.868481332238826,
 8.727268113567659,
 8.521707768919764,
 8.381074817525022,
 8.464146902741843,
 7.954739358452551,
 8.63470611518741,
 9.13581391947221,
 8.16655502167014,
 9.83791576757922,
 8.524726381073155,
 7.902469761586349,
 8.096314246990435,
 9.391244863205946,
 9.420948199815955,
 9.578046296635629,
 7.569292883023259,
 7.831132825264043,
 8.28945010410501,
 8.342125210120427,
 8.419335526137203,
 8.311447908336529,
 8.356604675377946,
 8.346443942379128,
 8.716749548877052,
 7.989670194852814,
 8.188355249809115,
 8.206985549406944,
 7.841451698179589,
 8.097492289479725,
 9.220801670210298,
 8.13604683617112,
 8.59764821227882,
 8.928134925656513,
 8.500924621246988,
 8.457660924576116,
 7.3221801170067495,
 8.176235961462874,
 8.347590348658589,
 8.746130753100768,
 8.635251517368372,
 7.657152641521911,
 8.021381129255007,
 7.865184342734393,
 8.171652328168623,
 8.422696657648356,
 7.523681802134978,
 7.982601327165642,
 8.182438847482642,
 8.611185519875407,
 8.060860038961511,
 8.393397190332992,
 8.308613218349782,
 7.791393210738334,
 7.787989540267424,
 8.043698950933042,
 8.453608251376947,
 7.849131124526944,
 8.877998973353947,
 8.408034954370592,
 8.417827149597326,
 8.361000957651894,
 8.795825676071944,
 8.4465650167832,
 8.227313572492488,
 8.917568759199971,
 8.317663021018753,
 7.850527716459772,
 8.557985000025328,
 8.35606132869712,
 8.244324255784338,
 8.366017202794126,
 8.114499703091012,
 8.301171283915197,
 8.702391348304198,
 7.442828719511876,
 8.544797038311755,
 8.188906878396036,
 7.877945572031892,
 8.526693385024384,
 8.448362637038539,
 8.292603814004039,
 7.93228513653572,
 8.377728708733066,
 8.466226804188752,
 7.822827252325051,
 8.211753479990005,
 8.270077412817972,
 8.585066959588206,
 8.806441130573296,
 8.48390699277217,
 8.328524631945568,
 7.6484025069520465,
 9.649574281761748,
 7.937030178822129,
 8.48933655668724,
 8.6187535701247,
 8.07380972299926,
 8.321020827624476,
 8.409488666267004,
 8.244877148452472,
 8.11111960642801,
 8.42283368614605,
 9.536951378907656,
 7.774335963136746,
 8.682280757874455,
 7.52396272458977,
 8.422010574089013,
 8.203417861806468,
 8.6811453702112,
 8.258831190872757,
 7.428556055152624,
 8.150405719814298,
 7.675433592753596,
 7.97908361884348,
 8.576397388783104,
 8.096084187923665,
 8.700351321736738,
 8.549991197171567,
 8.161616362784072,
 8.341615467776208,
 7.619837847413474,
 8.161124274454403,
 7.850795704199631,
 8.500429808881584,
 8.623910431965804,
 8.358115332904184,
 8.794781008285828,
 8.195517425635702,
 8.043958977371755,
 8.370561266737715,
 7.737623223536612,
 8.633595030403841,
 8.022699358616723,
 8.30153815983757,
 8.26862434997117,
 8.649395215095357,
 8.348739868161832,
 8.85394793379677,
 7.6822563865275955,
 9.025750253768784,
 9.680539494144794,
 8.427403992238682,
 8.549868240073664,
 8.643256494315326,
 8.704522364962743,
 8.38014035221157,
 7.250614656924252,
 9.7559052145686,
 8.729296989391651,
 8.717099038084726,
 8.271352340352598,
 9.063203474551276,
 8.845512949258284,
 9.655341995113153,
 9.054147452048383,
 8.539192028595336,
 8.442497519655088,
 8.456581216722816,
 8.120626612032353,
 8.29383063829234,
 8.432403056118519,
 9.023390123452112,
 9.169910253205089,
 8.480259614137054,
 9.55423019810415,
 8.425516355364273,
 8.565311401583275,
 8.303331018671923,
 9.689392273638163,
 9.553423681737726,
 8.521151052461844,
 8.855224498837297,
 7.907398071539946,
 8.41393714052848,
 8.61955374945128,
 8.616851000947884,
 9.02602320003867,
 8.629142844623335,
 8.37937824877429,
 8.605638562067817,
 8.816493849430888,
 8.291755787764643,
 8.582675355693583,
 8.197473946935613,
 8.421111123426455,
 8.41465579854761,
 8.266134737949791,
 8.725743681850233,
 8.73902785421734,
 8.879062148641344,
 8.410251075594113,
 8.40395250881044,
 8.17827988971533,
 8.204015332776827,
 8.047602696683205,
 8.261715683384079,
 8.281322661088515,
 8.01311302382772,
 9.443334584917428,
 9.345857997120602,
 8.792576757259427,
 9.374324162959402,
 8.49497823691291,
 8.143820737073753,
 8.854478953156192,
 8.720220845084866,
 8.964901015625552,
 8.644771864650949,
 8.42300241573896,
 8.739383073068137,
 9.10353153343097,
 9.249542977279479,
 8.453625066073448,
 8.766294437826451,
 8.63743028372412,
 8.770056209585512,
 8.104151081210572,
 8.843736750616088,
 8.869380421749094,
 7.428534019980083,
 8.905769367725371,
 8.820286070815731,
 8.539437288460782,
 8.452172586538735,
 8.741536785303811,
 8.41393714052848,
 8.255780785551535,
 8.15849723256186,
 8.34029454111875,
 8.275639382879207,
 8.218559750569552,
 8.474800982721844,
 8.74058310489974,
 9.351628219837114,
 8.000072897663344,
 8.482661381528766,
 8.452445412661147,
 8.317375193745876,
 7.529555908744724,
 8.480826864207572,
 7.498274904945642,
 8.627010473715005,
 8.371853939711347,
 8.19962518400884,
 8.433685701599764,
 8.605607445610802,
 8.937410709886613,
 8.192185531296529,
 8.579473227031626,
 8.583310966332297,
 8.28550255126033,
 8.592443199707958,
 8.7309712586022,
 8.973887338947149,
 7.93825258148619,
 8.17274620000112,
 9.029331353805427,
 7.370083020155958,
 9.634899089891888,
 8.931200318124747,
 8.930711255265518,
 7.878571063841757,
 8.918538045058833,
 8.440030384482478,
 8.894534864284076,
 8.24382343810753,
 8.286993816910211,
 9.72324612866691,
 8.711468253243181,
 8.699874075737952,
 8.882283661903413,
 8.895205067112512,
 8.54795937486502,
 8.449739048702714,
 8.438383188879332,
 4.947494512174658,
 9.139792994313309,
 8.797202478088739,
 8.583169398762136,
 8.277417000557376,
 8.491900525726955,
 8.24696217776257,
 9.145216176907262,
 9.087857574213615,
 8.154131973246754,
 9.286416391465888,
 8.809099893033567,
 8.54893311697643,
 8.290714821786148,
 8.79341593834293,
 9.003771865941957,
 8.223402777540366,
 9.179438671107093,
 8.577049350614626,
 9.269747070042285,
 7.293390584351445,
 8.461296162588761,
 9.030195855971025,
 9.087423922988007,
 8.628905205817624,
 8.882877060770138,
 7.812629795628723,
 9.075770532762572,
 9.174687718117095,
 9.023675828365985,
 8.351133399068837,
 9.196313742943335,
 8.849093489796545,
 8.83708381144092,
 9.393460682902006,
 9.09759704863405,
 8.530025827582799,
 8.596166175009342,
 9.423917639874064,
 9.12559351031029,
 9.182099346666334,
 8.294931802020582,
 10,
 8.437081932395499,
 8.827102883854451,
 9.795336778136218,
 8.254410522275688,
 8.842289842876454,
 9.349533663868508,
 8.828445942243937,
 9.179673127540624,
 8.735076839743858,
 9.388181527973192,
 8.25996162429422,
 8.22454599513281,
 8.069994066827956,
 9.086552422178181,
 8.97844357110681,
 9.2728366067486,
 7.269902188231631,
 8.470781010432956,
 8.206166014499157,
 8.482357839613735,
 8.707973007072846,
 8.227176090996315,
 9.30857665312651,
 8.255332764907958,
 8.947820431546347,
 8.57735421618776,
 9.563166510555247,
 9.13398693415666,
 8.900158957226783,
 8.649531764007778,
 8.41393714052848,
 7.980878868773691,
 8.570923897795454,
 9.219046741820073,
 8.013773002325369,
 8.949353191001403,
 8.274079213901356,
 8.355277745852007,
 8.31260009804392,
 8.39356274681992,
 8.7720635322873,
 8.458186331929204,
 9.104920503257043,
 8.758078962454531,
 8.78917978373597,
 8.429180306473931,
 8.412905657042481,
 9.228789840032833,
 8.344689500837452,
 8.131484907672052,
 8.558654824416054,
 9.104050923717839,
 8.895707424998966,
 8.566330701866608,
 8.294869307398546,
 8.593517287526002,
 8.574792618922617,
 9.089724940027907,
 8.140640485537688,
 8.099558399599735,
 8.571408176248307,
 8.27010235341333,
 7.861322367105419,
 8.91633535380446,
 8.394574559970115,
 8.904926375270286,
 8.023870790599698,
 8.087897845431135,
 8.571374237905754,
 8.41393714052848,
 8.065783327307702,
 7.925496520863741,
 7.79827678868875,
 7.986441727163737,
 7.563539918297546,
 9.25731599904178,
 9.356908916597817,
 9.043849869608033,
 8.049596336099002,
 9.601993221417201,
 7.238640660231879,
 8.64873987610775,
 8.381042259333018,
 8.41393714052848,
 9.054808895886941,
 8.421165877916986,
 8.447355720499765,
 8.340466129822799,
 8.894556372312847,
 8.255091393924287,
 8.682057738457342,
 7.713051845735369,
 7.809118108687529,
 8.16645111696377,
 8.931154036776569,
 8.665094457533659,
 9.095318188689498,
 8.856183708251649,
 8.75347120034042,
 8.21239641584328,
 7.511996580571706,
 8.492363789995597,
 8.362917212691467,
 8.583189507422892,
 ...]

In [45]:
# Rekomendasi untuk seorang user
recomToUser = pd.DataFrame({
                            'anime_id': anime, 
                            'title':name,
                            'score': anime_score
                            }).sort_values(by='score', ascending=False)

recomToUser.head(20)

      anime_id                                              title      score
895       6114                Rainbow: Nisha Rokubou no Shichinin  10.000000
297       9969                                      Gintama&#039;   9.976159
289       9253                                        Steins;Gate   9.914439
2        11757                                   Sword Art Online   9.870922
586      11061                             Hunter x Hunter (2011)   9.837916
8          199                      Sen to Chihiro no Kamikakushi   9.827240
14         813                                      Dragon Ball Z   9.814562
898       6675                                            Redline   9.795337
725        164                                      Mononoke Hime   9.755905
1344     28977                                           Gintama°   9.747485
845         19                                            Monster   9.723246
92       31043                            Boku dake ga Inai Machi   9.715396
746        572                           Kaze no Tani no Nausicaä   9.689392
327      11577         Steins;Gate Movie: Fuka Ryouiki no Déjà vu   9.682383
549       2904                 Code Geass: Hangyaku no Lelouch R2   9.681530
718         44  Rurouni Kenshin: Meiji Kenkaku Romantan - Tsui...   9.680539
557       4181                               Clannad: After Story   9.672491
90       28891                            Haikyuu!! Second Season   9.663604
130        263                                     Hajime no Ippo   9.660716
731        431                                Howl no Ugoku Shiro   9.655342